.ks-Header {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    ul{
        display: flex;
        justify-content: space-between;
        width: 20%;
        padding: 0;
        font-size: 150%;
    }
    li:hover{
        border-bottom: 2px solid $color-primary;
    }
    a{
        color: $color-primary;
    }
}