.dropdown{
    color: white;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 24px;
    &_visibl{
        background-color: $color-primary;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 60px;
        p{
        color: white;
        }
        button{
            background-color: $color-primary;
            height: 100%;
            border: 0;
        }
    }
    &_hiden{
        border-radius: 5px;
        background-color: $color-tertiary;
        color: $color-primary;
        font-weight: 400;
        text-align: left;
        padding: 25px 8px 10px;
    }
}