.fiche{
    width: 90%;
    margin: auto;
    &_contnair1{
        @extend %flex-between;
        align-items: center;
    }
    &_infos{
        text-align: left;
        h1{
            font-weight: 500;
            font-size: 36px;
            margin-bottom: 0;
        }
        h3{
            font-size: 18px;
            font-weight: 500;
            margin-top: 0;
        }
        ul{
            @extend %flex-start;
            padding: 0;
            
        }
        li{
            @include width(auto, 25px);
            padding: 3px 20px;
            margin-right: 15px;
            border-radius: 10px;
            background-color: $color-primary;
            color: white;
            text-align: center;
        }
    }
    &_contact{
        @include width(20%, auto);
        display: flex;
        flex-direction: column;
        &_bloc{
            @extend %flex-end;
            height: 50%;
        }
        &_name{
            width: min-content;
            font-size: 18px;
            padding: 5px;
            margin-right: 20px;
        }
        &_pict{
            @include width(64px);
            min-width: 64px;
            border-radius: 35px;
            background-color: #C4C4C4;
            img{
                @extend %width;
                border-radius: 35px;
            }
        }
        &_star{
            @extend %flex-end;
            align-items: baseline;
            margin-top: 20px;
        }
    }
    &_contnair2{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        min-height: 220px;
        &_volet{
            @include width(47%, auto);
            .dropdown{
                @include width(100%, auto);
            }
        }
    }
}