@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  color: #FF6060;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

a {
  color: #FF6060;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

ul, ol {
  list-style-type: none;
}

.about_section {
  min-height: 60vh;
}

.ks {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-height: 20vh;
  margin: 0 auto;
}
.ks a {
  text-decoration: none;
}
.ks .ks_ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
}
.ks .ks_li {
  margin: 10px;
}
.ks .ks_li:hover {
  border-bottom: 2px solid #FF6060;
}

.footer {
  background-color: black;
  width: 100%;
  height: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.footer_logo {
  width: 8%;
  margin-top: 30px;
}
.footer_text {
  color: aliceblue;
}

.banner {
  width: 90%;
  margin: auto;
  height: 180px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 25px;
  background-color: rgb(89, 89, 89);
}
.banner_titre {
  position: absolute;
  width: 80%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 270%;
  font-weight: 500;
  z-index: 1;
}
.banner_img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.6;
}

.cards {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 25px;
}

.card {
  width: 25%;
  height: 300px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}
.card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card_gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.card_titre {
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-align: left;
  color: #FFFFFF;
  width: 90%;
}

.erreur {
  color: #FF6060;
  width: 100%;
  height: 100%;
}
.erreur_code {
  font-weight: 700;
  font-size: 288px;
  margin: auto;
}
.erreur_message {
  font-size: 36px;
}
.erreur_retour {
  width: 21.5%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  font-size: 18px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.dropdown {
  color: white;
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
  font-size: 24px;
}
.dropdown_visibl {
  background-color: #FF6060;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  font-weight: 500;
}
.dropdown_visibl p {
  color: white;
}
.dropdown_visibl button {
  background-color: #FF6060;
  height: 100%;
  border: 0;
}
.dropdown_hiden {
  border-radius: 5px;
  background-color: #F6F6F6;
  color: #FF6060;
  font-weight: 400;
  text-align: left;
  padding: 25px 8px 10px;
}

.slider {
  width: 100%;
  height: 500px;
  margin: auto;
  border-radius: 25px;
  position: relative;
}
.slider_active {
  width: 100%;
  height: 100%;
}
.slider_inactive {
  height: 1px;
}
.slider_picture {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.slider_previous {
  position: absolute;
  top: 45%;
  left: 20px;
}
.slider_next {
  position: absolute;
  top: 45%;
  right: 20px;
}
.slider_number {
  position: absolute;
  left: 50%;
  bottom: 15px;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.fiche {
  width: 90%;
  margin: auto;
}
.fiche_contnair1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fiche_infos {
  text-align: left;
}
.fiche_infos h1 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 0;
}
.fiche_infos h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}
.fiche_infos ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.fiche_infos li {
  width: auto;
  padding: 3px 20px;
  margin-right: 15px;
  height: 25px;
  border-radius: 10px;
  background-color: #FF6060;
  color: white;
  text-align: center;
}
.fiche_contact {
  width: 20%;
}
.fiche_contact_bloc {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}
.fiche_contact_name {
  width: -moz-min-content;
  width: min-content;
  font-size: 18px;
  padding: 5px;
}
.fiche_contact_pict {
  width: 64px;
  height: 64px;
  border-radius: 35px;
  margin-left: 20px;
  background-color: #C4C4C4;
}
.fiche_contact_pict img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
.fiche_contact_star {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.fiche_contnair2 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  min-height: 220px;
}
.fiche_contnair2_volet {
  width: 47%;
}
.fiche_contnair2_volet .dropdown {
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.btnOuverture.rotate-1 {
  animation: rotate 10ms ease-in-out forwards;
}/*# sourceMappingURL=index.css.map */